.heading-1 {
    background-color: black;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.bye{
    color: red;
}

.hi{
    color: green;
}